body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    }
    .clearfix:after{
        content: "";
        display: block;
        clear: both;
    }
    
    *{
        box-sizing: border-box;
    }
    html{
    font-size: 16px;
    }
    /* Banner Navigation */
    .master{
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/about-heading.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    }
    
    .navigation{
    background-color: rgb(31, 30, 30);
    }
    .nav-center{
    max-width: 1200px;
    margin: 0 auto;
    }
    .nav-center h1{
    float: left;
    padding-left: 10px;
    columns: #fff;
    padding-top: 5px;
    }
    .orange{
    color: #f23434;   
    }
    .nav-center ul{
    float: right;
    }
    .navigation ul li{
    float: left;
    list-style: none;
    font-weight: 700;
    padding: 15px 40px 0px 0px;
    padding-top: 12px;
    font-size: 1rem;
    }
    .icon{
    float: right;
    margin: 20px 10px 0 0;
    background-color: transparent;
    border:none;
    outline: none;
    display: none;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    .fa{
    font-size: 30px;
    color: #fff;
    }
    
    .banner{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30vh;
    color: #fff;
    }
    .banner h3{
    color:#f23434;
    font-size: 1.4rem; 
    }
    .banner h1{
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-weight: 500;
    margin-top: 0;
    }
    .about{
        max-width: 1140px;
        margin: 0 auto;
        }
        .about h1{
        font-weight: 100;
        color: rgb(56, 56, 56);
        }
        .about hr{
        height: 1px;
        border: none;
        background-color: rgb(214, 214, 218);
        }
        
.about .left-box{
    width: 50%;
    float: left;
    padding-right: 20px;
    max-height: 383px;
    padding-top: 30px;
    }
    .left-box h2{
    color: #5c92b1;
    font-weight: 100;
    margin-top:0 ;
    }
    .left-box p {
        margin-bottom: 25px;
    }
    .about p {
        padding-bottom: 20px;
    }
    .left-box p{
    line-height: 25px;
    color: rgb(122, 120, 120);
    padding: 10px 0 0 0;
    font-size: 14px;
    }
    .left-box img{
    max-width: 100%;
    float: left;
    }
    .left-box a{
    color: cornflowerblue;
    }
    .about .right-box{
        width: 50%;
        float: right;
        margin: 20px 0 0 0;
        }
        .right-box .about-pic{
        width: 100%;
    }
    .pages{
        float: left;
        max-width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
        .pages ul{
        list-style: none;
        }
        .pages ul.mybox {
        
            text-align: center;
        }
        .pages ul li{
            
        display: inline-block;
        margin: 0px 2px;
        }
        .pages ul li a:hover{
            background-color: #f33f3f;
            border-color: #f33f3f;
            color: #fff;
        }
        
    .products ul.pages li a:hover {
        background-color: #f33f3f;
        border-color: #f33f3f;
        color: #fff;
    }
  
    .products ul.pages .mainbox li a:hover {
    background-color: #f33f3f!important;
    color: #fff;
    }
    .right-box h2{
            font-size: 17px;
            color: #1a6692;
            margin-bottom: 20px;
        
    }
    .right-box p{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    }
.mybox{
padding: 0;
margin: 0;
list-style: none;
}

.mybox li a{
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
}
.product h2{
font-size: 28px;
font-weight: 400;
color: #1e1e1e;
margin-bottom: 15px;
}
.team-members{
max-width: 1140px;
margin: 0 auto;
width: 100%;
height: 968px;
}

.team-member {
    border: 1px solid #eee;
    margin-bottom: 30px;
    width: 31.3%;
    float: left;
    margin: 2% 2% 2% 0%;
}
.team-member .thumb-container {
    position: relative;
}
.team-member img {
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    border-style: none;
}
.team-member .thumb-container .hover-effect {
    position: absolute;
    background-color: rgba(243,63,63,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.team-member:hover .hover-effect {
    visibility: visible;
    opacity: 1;
}
.team-member .thumb-container .hover-effect .hover-content {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.hover-content ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.social-icons li {
    display: inline-block;
    margin-right: 3px;
}
ul.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
    text-decoration: none!important;
}
.team-member .down-content {
    padding: 30px;
    text-align: center;
    display: block;
}
.team-member .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 8px;
}
.team-member .down-content span {
    display: block;
    font-size: 13px;
    color: #f33f3f;
    font-weight: 500;
    margin-bottom: 20px;
}
p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    margin-top: 0px;
    display: block;
}
.mypages{
float: left;
}
.services {
    background-image: url(../assets/images/services-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 158px; 
    width: 1380px;
    height: 662.39px;
    z-index: 2;
    margin-bottom: 70px;
    float: left;
}
.services .service-item {
    text-align: center;
    display: block;
    width: 290px;
    height: auto;
    z-index: 1;
    float: left;
    margin-left: 30px;
}
.services .service-item .icon {
    background-color: #f7f7f7;
    padding: 40px;
    display: block;
    width: 290px;
    height: 180px;
    float: left;
}
.services .service-item .icon i {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    background-color: #f33f3f;
    color: #fff;
    font-size: 32px;
}
.services .service-item .down-content {
    background-color: #fff;
    padding: 40px 30px;
}
.services .service-item .down-content h4 {
    font-size: 18px;
    color: #1a6692;
    margin-bottom: 20px;
}
.services .service-item .down-content p {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}
a.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    text-decoration: none !important;
}
.location {
    width: 1140px;
    text-align: left;
    margin-bottom: 60px !important;
    border-bottom: 1px solid #eee;
    margin: 0 auto;
}
.location h2 {
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
}
.customer{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
    }
     ul.mypages li a:hover {
        background-color: #f33f3f;
        border-color: #f33f3f;
        color: #fff;
    }
.customer .mybox{
    width: 198px;
    margin-right: 30px;
    float: left;  
}
.mybox img{
width: 100%;
padding-bottom: 100px;
}
.customer hr{
background-color: rgb(214, 214, 218);
height: 1px;
}
.footer{
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px 100px 15px !important;
    }
    .templatemo{
        color: #f33f3f;
        margin-left: 3px;
    }
.footer p{
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 300;
        color: #4a4a4a;
        line-height: 24px;
}