body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    }
    .clearfix:after{
        content: "";
        display: block;
        clear: both;
    }
    
    *{
        box-sizing: border-box;
    }
    html{
    font-size: 16px;
    overflow-y: scroll;
    }
    /* Banner Navigation */
    .master{
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/products-heading.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    }
    .nav-center ul{
    float: right;
    }
    .navigation{
    background-color: rgb(31, 30, 30);
    }
    .nav-center{
    max-width: 1200px;
    margin: 0 auto;
    }
    .nav-center h1{
    float: left;
    padding-left: 10px;
    columns: #fff;
    padding-top: 5px;
    }
    .orange{
    color: #f23434;   
    }
    .navigation ul li{
    float: left;
    list-style: none;
    font-weight: 700;
    padding: 15px 40px 0px 0px;
    padding-top: 12px;
    font-size: 1rem;
    }
    .icon{
    float: right;
    margin: 20px 10px 0 0;
    background-color: transparent;
    border:none;
    outline: none;
    display: none;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    .fa{
    font-size: 30px;
    color: #fff;
    }
    
    .banner{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30vh;
    color: #fff;
    }
    .banner h3{
    color:#f23434;
    font-size: 1.4rem; 
    }
    .banner h1{
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-weight: 500;
    margin-top: 0;
    }
/* Product */
.product{
max-width: 1140px;
padding: 10px 0px 50px 0px;
margin: 0 auto;
}
.product h1{
float: left;
font-weight: 500;
font-size: 2rem;
columns: rgb(56,56,56);
}
.product h4{
float: right;
font-weight: 700;

text-transform: uppercase;
font-size: 13px;
color: #f33f3f;
}
.product hr{
clear: both;
height: 1px;
background-color: rgb(219, 214, 214);
border: none;
}
.product-list{
    max-width: 1140px;
width: 100%;
padding-top:30px ;
}
.product-box{
width: 31.3%;
float: left;
margin: 2% 2% 2% 0%;
padding-bottom: 15px;
border: 1px solid rgb(219, 214, 214);
}
.pro-pic{
width: 100%;
margin-bottom: 10px;
}
.product-box h2{
float: left;
padding-left: 5%;
font-weight: 500;
color: #5c92b1;
font-size: 1.3rem;
}
.product-box h3{
float: right;
padding-right: 5%;
color: rgb(71, 70, 70);
}
.product-box p{
clear: both;
padding: 0 5%;
color: rgb(122, 120, 120);
font-size: 1rem;
line-height: 25px;
}
.five-star{
float: left;
font-size: 15px;
padding: 10px 2px;
color: #f23434;
}
.review{
float: right;
padding-right: 5%;
color: #f23434;
margin-top: 10px;
}
/* About */
.about{
max-width: 1140px;
margin: 0 auto;
padding: 0 15px;
}
.about h1{
font-weight: 100;
color: rgb(56, 56, 56);
}
.about hr{
height: 1px;
border: none;
background-color: rgb(214, 214, 218);
}
.about .left-box{
width: 50%;
float: left;
padding-right: 20px;
}
.left-box h2{
color: #5c92b1;
font-weight: 100;
margin-top:0 ;
}
.left-box p{
line-height: 25px;
color: rgb(122, 120, 120);
padding: 10px 0 0 0;
font-size: 14px;
}
.left-box a{
color: cornflowerblue;
}
.btn{
width: 120px;
height: 40px;
border: none;
color: #fff;
background-color:#f23434;
border-radius: 5px;
font-size: 1rem;
}
.left-box .feature{
padding: 20px 0 0 0;
}
.left-box .feature li{
padding: 10px 0;
list-style-type: square;
margin-left: 20px;
color: rgb(56, 56, 56);
font-size: 14px;
}
.about .right-box{
width: 50%;
float: right;
margin: 20px 0 0 0;
}
.right-box .about-pic{
width: 100%;
}

/* Purtchase */
.purchase{
max-width: 1140px;
margin: 0 auto;
padding: 50px 15px;
}
.center{
width: 100%;
background-color: rgb(241, 243, 243);
margin: 50px 0px;
}
.left{
width: 70%;
float: left;
padding: 20px 0 20px 20px;
}
.left h2{
color: #5c92b1;
}
.sixteen{
font-weight: 600;
}
.left p{
color: rgb(122, 120, 120);
}
.right{
width: 30%;
float: right;
text-align: right;
padding: 50px 20px 50px 0px;
}
.purchase button{
width: 140px;
height:40px;
border: none;
color: rgb(238, 217, 217);
background-color: #f23434;
border-radius: 5px;
font-size: 1rem;
}
.purchase hr{
height: 1px;
border: none;
background-color: rgb(214, 214, 218);
}
/* Footer */
.footer{
max-width: 1140px;
margin: 0 auto;
text-align: center;
padding: 0 15px 50px 15px;
}
.templatemo{
    color: #f33f3f;
    margin-left: 3px;
}
.footer p{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}
.five-star{
color:  #f23434;;
}
.navigation .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.navigation .icons div:hover{
    color: #d3ad7f;
}